/* CSS Document
	Resetting browser default styles
	All
	Grid
	Typography
	Buttons
	Form styles
	Icons
	Tabs
	Dropdown
	Tooltip
	Breadcrumb
	Pager
	Responsive embed
	Media Queries
*/


/* Resetting browser default styles */
html, body {min-height:100%;-webkit-text-size-adjust:100%;overflow-x:hidden;}
body {font:14px 'Lato', sans-serif;color:#666;background:#fff;}
div, html, body, p, ul, ol, li, a, form, img, table, td, h1, h2, h3, h4, h5, h6, blockquote, header, section, footer, aside, nav, article, figure, figcaption, dt, dd, dl {margin:0;padding:0;} 
header, section, footer, aside, nav, article, figure, figcaption {display: block;}
table {border-collapse:collapse;}
img {border:none;max-width:100%;height:auto;}
iframe, object, embed {max-width:100%;}
ul, li {list-style:none;}
input {vertical-align:middle;}
input:focus, textarea:focus {outline:none;}
button, input[type="submit"] {cursor:pointer;-webkit-appearance:none;}
a, a:active, a:visited {text-decoration:none;color:#e9702e;}
a:hover {text-decoration:none;color:#e9702e;}


/* All */
.wrapper {width:1200px;margin:0 auto;-webkit-box-sizing:border-box;box-sizing:border-box;padding:0 15px;}
.clear:after, .wrapper:after {content:'';display:block;height:0;clear:both;}
.center {text-align:center;}




/* Grid */
.grid_row {margin-bottom:20px;}
.grid_row:after {content:'';display:block;height:0;clear:both;}
.grid_row [class^="grid_"] {float:left;}
.grid_row_pad {margin:0 -10px;}
.grid_row_pad [class^="grid_"] {padding:0 10px 20px 10px;}
.grid_row .grid_centered {clear:both;margin:0 auto 20px auto;float:none;}

.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 {-webkit-box-sizing:border-box;box-sizing:border-box;}
.grid_1 {width:8.333%;}
.grid_2 {width:16.666%;}
.grid_3 {width:25%;}
.grid_4 {width:33.332%;}
.grid_5 {width:41.665%;}
.grid_6 {width:50%;}
.grid_7 {width:58.334%;}
.grid_8 {width:66.667%;}
.grid_9 {width:75%;}
.grid_10 {width:83.334%;}
.grid_11 {width:91.667%;}
.grid_12 {width:100%;}

.grid_offset_1 {margin-left:8.333%;}
.grid_offset_2 {margin-left:16.666%;}
.grid_offset_3 {margin-left:25%;}
.grid_offset_4 {margin-left:33.332%;}
.grid_offset_5 {margin-left:41.665%;}
.grid_offset_6 {margin-left:50%;}
.grid_offset_7 {margin-left:58.334%;}
.grid_offset_8 {margin-left:66.667%;}
.grid_offset_9 {margin-left:75%;}
.grid_offset_10 {margin-left:83.334%;}
.grid_offset_11 {margin-left:91.667%;}

	/* Demo */
.grid_row [class^="grid_"] {background:#fff;border:1px solid #ccc;padding:10px;}
.grid_row_pad [class^="grid_"] {background:none;border:none;padding:0 10px 20px 10px;}
.grid_row_pad [class^="grid_"] p {background:#fff;border:1px solid #ccc;padding:10px;}




/* Typography */
h1 {font:700 36px 'Lato';padding-bottom:20px;}
h2 {font:400 30px 'Lato';padding-bottom:15px;}
h3 {font:400 24px 'Lato';padding-bottom:15px;}
h4 {font:300 18px 'Lato';padding-bottom:10px;}
h5 {font:14px 'Lato';padding-bottom:10px;}
h6 {font:12px 'Lato';padding-bottom:5px;}
p {padding-bottom:15px;}
hr {margin:100px 0;border:none;border-bottom:2px solid #ccc;}




/* Buttons */
.button, .button:visited {color:#fff;padding:0 15px;min-height:45px;font:18px/45px 'Lato', sans-serif;background:#5bc0de;margin:0 10px 5px 0;border:none;border-radius:0;display:inline-block;vertical-align:middle;text-align:center;}
.button:hover {color:#fff;background:#31b0d5;}
.button.button_small, .button.button_small:visited {min-height:30px;line-height:30px;font-size:14px;}
.button.button_medium, .button.button_medium:visited {min-height:37px;line-height:37px;font-size:16px;}
.button.button_large, .button.button_large:visited {min-height:50px;line-height:50px;font-size:20px;}



/* Form styles */
input[type="checkbox"] {display:none;}
input[type="checkbox"] + label {cursor:pointer;padding-left:25px;background:url(../images/icons/checkbox_unchecked.png) 0 center no-repeat;display:inline-block;vertical-align:middle;}
input[type="checkbox"]:checked + label, input[type="checkbox"] + label.checked, input[type="checkbox"] + label:active {background-image:url(../images/icons/checkbox_checked.png);}
input[type="radio"] {display:none;}
input[type="radio"] + label {cursor:pointer;padding-left:25px;background:url(../images/icons/radio_unchecked.png) 0 center no-repeat;display:inline-block;vertical-align:middle;}
input[type="radio"]:checked + label, input[type="radio"] + label:active {background-image:url(../images/icons/radio_checked.png);}
input[type="text"], textarea, select {width:100%;border:1px solid #ccc;padding:0 10px;color:#666;font:14px 'Lato', sans-serif;height:35px;-webkit-box-sizing:border-box;box-sizing:border-box;}
input[type="text"]:focus, textarea:focus, select:focus {outline:none;box-shadow:rgba(0,0,0,.2) 0 1px 1px 0;}
textarea {padding:10px;height:100px;}




/* Icons */
[class^="icon_"] {width:25px;height:25px;background:url(../images/icons/icons_sprite.png) 0 0 no-repeat;display:inline-block;vertical-align:middle;}
.icon_account {background-position:0 0;}
.icon_logout {background-position:-25px 0;}




/* Tabs */
.tab_select li {float:left;}
.tab_select li a, .tab_select li a:visited {display:block;padding:10px;}
.tab_select li a:hover {background:#ebebeb;}
.tab_select li.active a, .tab_select li.active a:visited, .tab_select li.active a:hover {font-weight:bold;}
.tab_content {clear:both;padding:10px;}




/* Dropdown */
.dropdown_wrap {position:relative;display:inline-block;}
.dropdown_wrap .button {margin:0;}
.dropdown_style {display:none;position:absolute;top:100%;left:0;background:#fff;padding:5px 0;border:1px solid #666;min-width:200px;z-index:1;}
.dropdown_style.dropdown_right {left:auto;right:0;}
.dropdown_style.dropdown_top {top:auto;bottom:100%;}
.dropdown_style > li > a, .dropdown_style > li > a:visited {display:block;padding:10px 5px;}
.dropdown_style > li > a:hover {background:#ebebeb;}




/* Tooltip */
.container {}




/* Breadcrumb */
.container {}




/* Pager */
.container {}




/* Responsive embed */
.container {}




/* Media Queries */
	/* Desktop */
@media only screen and (min-width: 960px) and (max-width: 1199px) {
.wrapper {width:960px;}
}


	/* Tablets and mobiles */
@media only screen and (max-width: 959px) {
}


	/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 959px) {
.wrapper {width:768px;}
/* Grid */
.grid_tablet_clear {clear:both;}
.grid_tablet_1 {width:8.333%;}
.grid_tablet_2 {width:16.666%;}
.grid_tablet_3 {width:25%;}
.grid_tablet_4 {width:33.332%;}
.grid_tablet_5 {width:41.665%;}
.grid_tablet_6 {width:50%;}
.grid_tablet_7 {width:58.334%;}
.grid_tablet_8 {width:66.667%;}
.grid_tablet_9 {width:75%;}
.grid_tablet_10 {width:83.334%;}
.grid_tablet_11 {width:91.667%;}
.grid_tablet_12 {width:100%;}
.grid_tablet_offset_0 {margin-left:0;}
.grid_tablet_offset_1 {margin-left:8.333%;}
.grid_tablet_offset_2 {margin-left:16.666%;}
.grid_tablet_offset_3 {margin-left:25%;}
.grid_tablet_offset_4 {margin-left:33.332%;}
.grid_tablet_offset_5 {margin-left:41.665%;}
.grid_tablet_offset_6 {margin-left:50%;}
.grid_tablet_offset_7 {margin-left:58.334%;}
.grid_tablet_offset_8 {margin-left:66.667%;}
.grid_tablet_offset_9 {margin-left:75%;}
.grid_tablet_offset_10 {margin-left:83.334%;}
.grid_tablet_offset_11 {margin-left:91.667%;}
}


	/* Mobile portrait and landscape modes */
@media only screen and (max-width: 767px) {
/* Grid */
.grid_mobile_clear {clear:both;}
.grid_mobile_1 {width:8.333%;}
.grid_mobile_2 {width:16.666%;}
.grid_mobile_3 {width:25%;}
.grid_mobile_4 {width:33.332%;}
.grid_mobile_5 {width:41.665%;}
.grid_mobile_6 {width:50%;}
.grid_mobile_7 {width:58.334%;}
.grid_mobile_8 {width:66.667%;}
.grid_mobile_9 {width:75%;}
.grid_mobile_10 {width:83.334%;}
.grid_mobile_11 {width:91.667%;}
.grid_mobile_12 {width:100%;}
.grid_mobile_offset_0 {margin-left:0;}
.grid_mobile_offset_1 {margin-left:8.333%;}
.grid_mobile_offset_2 {margin-left:16.666%;}
.grid_mobile_offset_3 {margin-left:25%;}
.grid_mobile_offset_4 {margin-left:33.332%;}
.grid_mobile_offset_5 {margin-left:41.665%;}
.grid_mobile_offset_6 {margin-left:50%;}
.grid_mobile_offset_7 {margin-left:58.334%;}
.grid_mobile_offset_8 {margin-left:66.667%;}
.grid_mobile_offset_9 {margin-left:75%;}
.grid_mobile_offset_10 {margin-left:83.334%;}
.grid_mobile_offset_11 {margin-left:91.667%;}
}


	/* Mobile landscape mode */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.wrapper {width:480px;}
}


	/* Mobile portrait mode */
@media only screen and (max-width: 479px) {
.wrapper {width:300px;}
/* Grid */
.grid_row [class^="grid_"] {float:none;}
.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 {width:100%;}
}