/* CSS Document
	Resetting browser default styles
	All
	Grid
	Typography
	Buttons
	Form styles
	Icons
	Tabs
	Dropdown
	Tooltip
	Breadcrumb
	Pager
	Responsive embed
	Media Queries
*/


/* Resetting browser default styles */
html, body {min-height:100%;-webkit-text-size-adjust:100%;overflow-x:hidden;}
body {font:14px 'Lato', sans-serif;color:#666;background:#fff;}
div, html, body, p, ul, ol, li, a, form, img, table, td, h1, h2, h3, h4, h5, h6, blockquote, header, section, footer, aside, nav, article, figure, figcaption, dt, dd, dl {margin:0;padding:0;} 
header, section, footer, aside, nav, article, figure, figcaption {display: block;}
table {border-collapse:collapse;}
img {border:none;max-width:100%;height:auto;}
iframe, object, embed {max-width:100%;}
ul, li {list-style:none;}
input {vertical-align:middle;}
input:focus, textarea:focus {outline:none;}
button, input[type="submit"] {cursor:pointer;-webkit-appearance:none;}
a, a:active, a:visited {text-decoration:none;color:#e9702e;transition:color linear .2s;}
a:hover {text-decoration:none;color:#e9702e;}


/* All */
.wrapper {width:1200px;margin:0 auto;box-sizing:border-box;padding:0 15px;}
.clear:after, .wrapper:after {content:'';display:block;height:0;clear:both;}
.center {text-align:center;}




/* Grid */
.grid_row {margin-bottom:20px;font-size:0;line-height:0;}
.grid_row:after {content:'';display:block;height:0;clear:both;}
.grid_row > [class^="grid_"] {display:inline-block;vertical-align:top;font:14px 'Lato', sans-serif;}
.grid_row .grid_row {margin-bottom:0;}
.grid_row_pad {margin:0 -10px;}
.grid_row_pad > [class^="grid_"] {padding:10px;}
.grid_row .grid_centered {margin-left:auto;margin-right:auto;display:block;}

.grid_row, .grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 {box-sizing:border-box;}
.grid_1 {width:8.333%;}
.grid_2 {width:16.666%;}
.grid_3 {width:25%;}
.grid_4 {width:33.332%;}
.grid_5 {width:41.665%;}
.grid_6 {width:50%;}
.grid_7 {width:58.334%;}
.grid_8 {width:66.667%;}
.grid_9 {width:75%;}
.grid_10 {width:83.334%;}
.grid_11 {width:91.667%;}
.grid_12 {width:100%;}

.grid_offset_1 {margin-left:8.333%;}
.grid_offset_2 {margin-left:16.666%;}
.grid_offset_3 {margin-left:25%;}
.grid_offset_4 {margin-left:33.332%;}
.grid_offset_5 {margin-left:41.665%;}
.grid_offset_6 {margin-left:50%;}
.grid_offset_7 {margin-left:58.334%;}
.grid_offset_8 {margin-left:66.667%;}
.grid_offset_9 {margin-left:75%;}
.grid_offset_10 {margin-left:83.334%;}
.grid_offset_11 {margin-left:91.667%;}

	/* Demo */
.grid_row > [class^="grid_"] p {border:1px solid #ccc;padding:10px;}




/* Typography */
h1 {font:700 36px 'Lato';padding-bottom:20px;}
h2 {font:400 30px 'Lato';padding-bottom:15px;}
h3 {font:400 24px 'Lato';padding-bottom:15px;}
h4 {font:300 18px 'Lato';padding-bottom:10px;}
h5 {font:14px 'Lato';padding-bottom:10px;}
h6 {font:12px 'Lato';padding-bottom:5px;}
p {padding-bottom:15px;}
hr {margin:100px 0;border:none;border-bottom:2px solid #ccc;}




/* Buttons */
.button, .button:visited {color:#fff;padding:0 15px;min-height:45px;font:18px/45px 'Lato', sans-serif;background:#5bc0de;margin:0 10px 5px 0;border:none;border-radius:0;display:inline-block;vertical-align:middle;text-align:center;transition:background-color linear .2s, color linear .2s;}
.button:hover {color:#fff;background:#31b0d5;}
.button.button_small, .button.button_small:visited {min-height:30px;line-height:30px;font-size:14px;}
.button.button_medium, .button.button_medium:visited {min-height:37px;line-height:37px;font-size:16px;}
.button.button_large, .button.button_large:visited {min-height:50px;line-height:50px;font-size:20px;}



/* Form styles */
input[type="checkbox"] {display:none;}
input[type="checkbox"] + label {cursor:pointer;padding-left:25px;background:url(../images/icons/checkbox_unchecked.png) 0 center no-repeat;display:inline-block;vertical-align:middle;}
input[type="checkbox"]:checked + label, input[type="checkbox"] + label:active {background-image:url(../images/icons/checkbox_checked.png);}
input[type="radio"] {display:none;}
input[type="radio"] + label {cursor:pointer;padding-left:25px;background:url(../images/icons/radio_unchecked.png) 0 center no-repeat;display:inline-block;vertical-align:middle;}
input[type="radio"]:checked + label, input[type="radio"] + label:active {background-image:url(../images/icons/radio_checked.png);}
input[type="text"], textarea, select {width:100%;border:1px solid #ccc;padding:0 10px;color:#666;font:14px 'Lato', sans-serif;height:35px;box-sizing:border-box;}
input[type="text"]:focus, textarea:focus, select:focus {outline:none;box-shadow:rgba(0,0,0,.2) 0 1px 1px 0;}
textarea {padding:10px;height:100px;}
.upload {position:relative;}
.upload input[type="text"] {width:78%;margin-right:2%;height:47px;}
.upload input[type="submit"] {width:20%;margin:0;}
.upload input[type="file"] {position:absolute;top:0;left:0;width:100%;height:48px;opacity:0;cursor:pointer;}




/* Icons */
[class^="icon_"] {width:25px;height:25px;background:url(../images/icons/icons_sprite.png) 0 0 no-repeat;display:inline-block;vertical-align:middle;}
.icon_name {background-position:0 0;}
.icon_name2 {background-position:-25px 0;}




/* Tabs */
.tab_select li {float:left;cursor:pointer;padding:10px;}
.tab_select li:hover {background:#ebebeb;}
.tab_select li.active {font-weight:bold;background:#f7f5f5;color:#626363;}
.tab_content {display:none;background:#f7f5f5;padding:10px;}
.tab_content.active {display:block;}




/* Dropdown */
.dropdown_wrap {position:relative;display:inline-block;}
.dropdown_wrap .button {margin:0;}
.dropdown_style {display:none;position:absolute;top:100%;left:0;background:#fff;padding:5px 0;border:1px solid #666;min-width:200px;z-index:1;}
.dropdown_style.dropdown_right {left:auto;right:0;}
.dropdown_style.dropdown_top {top:auto;bottom:100%;}
.dropdown_style > li > a, .dropdown_style > li > a:visited {display:block;padding:10px 5px;}
.dropdown_style > li > a:hover {background:#ebebeb;}




/* Tooltip */
.tooltip {position:relative;display:inline-block;}
.tooltip .tooltip_content {position:absolute;bottom:100%;left:50%;margin-bottom:10px;background:#333;font:13px 'Lato';color:#fff;border-radius:3px;padding:4px 8px;white-space:nowrap;display:none;}
.tooltip:hover .tooltip_content {display:block;}
.tooltip .tooltip_content:after {content:'';position:absolute;top:100%;left:50%;height:0;width:0;pointer-events:none;border:solid transparent;border-top-color:#333;border-width:5px;margin-left:-5px;}
.tooltip[data-tooltip-position="bottom"] .tooltip_content {bottom:auto;top:100%;margin-bottom:0;margin-top:10px;}
.tooltip[data-tooltip-position="bottom"] .tooltip_content:after {top:auto;bottom:100%;border-top-color:transparent;border-bottom-color:#333;}




/* Breadcrumb */
.breadcrumb ul li {float:left;}
.breadcrumb ul li:after {content:'>';padding:0 10px;}
.breadcrumb ul li:last-child:after {display:none;}




/* Pager */
.pager ul li {float:left;padding:0 2px 2px 0;}
.pager ul li a, .pager ul li a:visited, .pager ul li span {display:inline-block;width:30px;height:30px;text-align:center;line-height:30px;border:1px solid #ccc;}
.pager ul li a:hover, .pager ul li span {background:#e9702e;color:#fff;border-color:#e9702e;}




/* Responsive embed */
.responsive_embed {position:relative;padding:0 0 56.25% 0;height:0;}
.responsive_embed iframe {position:absolute;top:0;left:0;width:100%;height:100%;}




/* Media Queries */
	/* Desktop */
@media only screen and (min-width: 960px) and (max-width: 1199px) {
.wrapper {width:960px;}
}


	/* Tablets and mobiles */
@media only screen and (max-width: 959px) {
}


	/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 959px) {
.wrapper {width:768px;}
/* Grid */
.grid_tablet_1 {width:8.333%;}
.grid_tablet_2 {width:16.666%;}
.grid_tablet_3 {width:25%;}
.grid_tablet_4 {width:33.332%;}
.grid_tablet_5 {width:41.665%;}
.grid_tablet_6 {width:50%;}
.grid_tablet_7 {width:58.334%;}
.grid_tablet_8 {width:66.667%;}
.grid_tablet_9 {width:75%;}
.grid_tablet_10 {width:83.334%;}
.grid_tablet_11 {width:91.667%;}
.grid_tablet_12 {width:100%;}
.grid_tablet_offset_0 {margin-left:0;}
.grid_tablet_offset_1 {margin-left:8.333%;}
.grid_tablet_offset_2 {margin-left:16.666%;}
.grid_tablet_offset_3 {margin-left:25%;}
.grid_tablet_offset_4 {margin-left:33.332%;}
.grid_tablet_offset_5 {margin-left:41.665%;}
.grid_tablet_offset_6 {margin-left:50%;}
.grid_tablet_offset_7 {margin-left:58.334%;}
.grid_tablet_offset_8 {margin-left:66.667%;}
.grid_tablet_offset_9 {margin-left:75%;}
.grid_tablet_offset_10 {margin-left:83.334%;}
.grid_tablet_offset_11 {margin-left:91.667%;}
}


	/* Mobile portrait and landscape modes */
@media only screen and (max-width: 767px) {
/* Grid */
.grid_mobile_1 {width:8.333%;}
.grid_mobile_2 {width:16.666%;}
.grid_mobile_3 {width:25%;}
.grid_mobile_4 {width:33.332%;}
.grid_mobile_5 {width:41.665%;}
.grid_mobile_6 {width:50%;}
.grid_mobile_7 {width:58.334%;}
.grid_mobile_8 {width:66.667%;}
.grid_mobile_9 {width:75%;}
.grid_mobile_10 {width:83.334%;}
.grid_mobile_11 {width:91.667%;}
.grid_mobile_12 {width:100%;}
.grid_mobile_offset_0 {margin-left:0;}
.grid_mobile_offset_1 {margin-left:8.333%;}
.grid_mobile_offset_2 {margin-left:16.666%;}
.grid_mobile_offset_3 {margin-left:25%;}
.grid_mobile_offset_4 {margin-left:33.332%;}
.grid_mobile_offset_5 {margin-left:41.665%;}
.grid_mobile_offset_6 {margin-left:50%;}
.grid_mobile_offset_7 {margin-left:58.334%;}
.grid_mobile_offset_8 {margin-left:66.667%;}
.grid_mobile_offset_9 {margin-left:75%;}
.grid_mobile_offset_10 {margin-left:83.334%;}
.grid_mobile_offset_11 {margin-left:91.667%;}
}


	/* Mobile landscape mode */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.wrapper {width:480px;}
}


	/* Mobile portrait mode */
@media only screen and (max-width: 479px) {
.wrapper {width:300px;}
/* Grid */
.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 {width:100%;}
}